<div class="form-signin">
  <div class="row">
    <div class="col">
      <div class="card">
        <h2 class="card-header"> Forgot your password? </h2>
        <div class="card-block">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Type the email used when creating your account' %>
              </div>

              <footer>
                <div class="actions">
                  <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
                </div>
              </footer>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-signin">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>